---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
// import PostPreview from '@/components/blog/PostPreview.astro'
import Profile from '@/components/Profile.astro'

// import { 
// 	getAllPosts, 
// 	sortMDByDate 
// } from '@/utils'
import TypingEffect from '@/components/TypingEffect.astro'
import imgProfile from '@/assets/profile.png'
import { supabase } from '@/supabase-config'
import { header, sections } from '@/data/portfolio.json'

const { data, error } = await supabase.from('projects').select('*')
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10 pt-36'>
		<section class='flex flex-col items-center gap-y-7'>
			<Profile src={imgProfile} alt='profile photo' />
			<div class='mt-4 flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>{header.title}</h1>
				<TypingEffect description={header.description} />
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					{
						header.links.length > 0 &&
							header.links.map((link) => (
								<Label title={link.name} as='a' href={link.url} target='_blank'>
									<svg
										xmlns='http://www.w3.org/2000/svg'
										viewBox='0 0 22 22'
										class='h-5 w-5 text-foreground/75'
										slot='icon'
									>
										<path fill='currentColor' d={link['meta-svg']} />
									</svg>
								</Label>
							))
					}
				</div>
			</div>
		</section>

		{
			sections.about && (
				<Section title={sections.about.title}>
					<p class='text-muted-foreground'>{sections.about.description}</p>
				</Section>
			)
		}

		{
			sections.experience && (
				<Section title={sections.experience.title}>
					{sections.experience.items.map((exp) => (
						<Card
							heading={exp.company}
							subheading={exp.position}
							date={exp.duration}
							imagePath=''
							altText={sections.experience.title}
							imageClass='h-12 w-auto md:-left-16'
						>
							<ul class='ml-4 list-disc text-muted-foreground'>
								{exp.activities.map((activity) => (
									<li>{activity}</li>
								))}
							</ul>
						</Card>
					))}
				</Section>
			)
		}

		{
			!error && data.length > 0 && (
				<Section title={sections.proyects.title}>
					<div class='flex flex-col flex-wrap-reverse gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
						{data.map((p) => (
							<ProjectCard
								heading={p.title_spanish}
								subheading={p.description_spanish}
								imagePath={p.image_url}
								altText={p.name}
								class='mt-3 w-auto flex-none sm:w-64 sm:flex-auto'
								href={p.demo_url}
							/>
						))}
					</div>
				</Section>
			)
		}
		{
			sections.education && (
				<Section title={sections.education.title}>
					{sections.education.items.map((edu) => (
						<Card
							heading={edu.institution}
							subheading={edu.degree}
							date={edu.duration}
							imagePath=''
							altText={sections.education.title}
							imageClass='h-12 w-auto md:-left-16'
						/>
					))}
				</Section>
			)
		}
		{
			sections.skills && (
				<Section title={sections.skills.title}>
					{sections.skills.types.map((skill) => (
						<SkillLayout title={skill.name} skills={skill.skills} />
					))}
				</Section>
			)
		}
	</div>
	<a
		href='https://github.com/srleom/astro-theme-resume.git'
		class='mt-16 flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
	>
		<span class='relative flex items-center justify-center'>
			<span
				class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
			></span>
			<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
		</span>

		<p class='font-medium'>Get free template</p>
	</a>
</PageLayout>
